// --------------------------------------------------------------------------
// latest news --------------------------------------------------------------
// --------------------------------------------------------------------------

.latest-news {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 30px;
    &__item {
        position: relative;
        background-color: $white;
        border: 1px solid #ccc;
        box-shadow: 0 3px 35px rgba(0,0,0,10%);
        border-radius: 3px;
        @include flex-col;
        justify-content: space-between;
        @extend %animate;
        .padding {
            margin: 10px 30px;
            &:nth-child(2) {
                margin-top: 20px;
            }
            &:nth-child(4) {
                margin-bottom: 0;
            }
            &:nth-child(5) {
                margin-top: 20px;
            }
        }
        &:nth-child(1), &:nth-child(2) {
            h3 {
                color: $rackley;
            }
            .button, .absolute {
                background-color: $rackley;
            }
        }
        &:nth-child(3) {
            h3 {
                color: $purple-majesty;
            }
            .button, .absolute {
                background-color: $purple-majesty;
            }
        }
        h3 {
            font-size: em(16px);
            font-weight: 600;
        }
        p {
            color: $granite;
            font-size: $font-size--small;

        }
        .button {
            color: $white;
            margin-right: auto;
            padding: 12px 15px;
        }
        .user {
            border-top: 1px solid #ccc;
            padding: 20px 0;
            @include flex-row;
            justify-content: flex-start;
            p:first-child {
                color: $color-primary;
            }
            img {
                border-radius: 50%;
                margin-right: 20px;
                height: 47px;
            }
        }
        &--content {
            img {
                width: 100%;
            }
        }
        .absolute {
            position: absolute;
            top: 10px;
            right: 0;
            color: $white;
            text-transform: uppercase;
            font-size: em(12px);
            font-weight: 600;
            border-radius: 2px;
            padding: 2px 8px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.latest-news__head {
    padding: 50px 0 40px;
}

//media query to organise columns
@include mq(large) {
    .latest-news {
        grid-template-columns: 1fr 1fr;
        &__item {
           &:first-child {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &:nth-child(2) {
                grid-column-start: 2;
                grid-column-end: 3;
            } 
        }
    }
}
@include mq(xx-large) {
    .latest-news {
        grid-template-columns: 1fr 1fr 1fr;
        &__item {
           &:first-child {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &:nth-child(2) {
                grid-column-start: 2;
                grid-column-end: 3;
            } 
            &:nth-child(3) {
                grid-column-start: 3;
                grid-column-end: 4;
            } 
        }
    }
}

@include mq(x-large) {
    .latest-news__item {
        height: 633px;
    }
}

@media screen and (min-width: $brkpoint-lg) and (max-width: $brkpoint-xxlg) {
    #green-team {
        @include collapse;
        transition: none;
    }
}