// --------------------------------------------------------------------------
// main nav -----------------------------------------------------------------
// --------------------------------------------------------------------------

.main-nav {
    height: 99px;
    color: $white;
    @include flex-row;
    justify-content: center;

    //defining the hover triangle and popup properties
    .menu-popup {
        left: 0;
        width: 100%;
        color: $white;
        z-index: 99;
        padding: 50px 0;
        transform: translate(0, 15px);
        h3 {
            font-size: em(30px);
        }
    }
    @media screen and (max-width: ($brkpoint-xxlg - 1)) {
        .triangle {
            width: 134.29px;
        }
    }
    
    //pop up element formatting
    ul {
        columns: 3;
        margin-top: 20px;
        line-height: 20px;
        a {
            color: $white;
            margin-left: 18px;
            &:hover {
                text-decoration: underline;
            }
        }
        li {
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            font-size: em(22px);
            i {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

    //menu items
    &__item {
        display: block;
        padding: 19px 0 18px;
        width: 134.29px;
        &:hover {
            @extend %popup-hover;
            .triangle {
                height: 35px;
                transform: translate(0, 14.5px);
            }
        }

        //sub-elements within each item (i.e. formatting the item)
        &--child {
            text-align: center;
            text-transform: uppercase;
            &:not(:first-child) {
                color:$white;  
            }
            &:first-child {
                padding: 0 0 10px;
                font-size: 21px;
            }
            &:nth-child(2) {
                font-size: $font-size--xsmall;
                line-height: $font-size--xsmall;
            }
            &:last-child {
                font-size: 18px;
                line-height: 19px;
            }
        }
    }
}

@include mq(xx-large) {
    .main-nav__item, .triangle {
        width: 167.14px;
    }
}

.nav-image {
    height: 23px;
}

// loop to assign hover colors and icons to each nav section

@each $theme, $icon in $theme-icons {
    .#{$theme} {
        &__icon {
            color: map-get($theme-colors, $theme);
            &::before {
                content: $icon;
            }
        }
        &:hover {
            background-color: map-get($theme-colors, $theme);
            .triangle {
                background-color: map-get($theme-colors, $theme);
            }
            .menu-popup {
                background-color: darken(map-get($theme-colors, $theme), 10%);
            }
        }
    }
}

//hover condition for icons
.main-nav__item:hover {
    .main-nav__item--child:first-child {
        color: white;
    }
}
