// --------------------------------------------------------------------------
// Welcome Banner -----------------------------------------------------------
// --------------------------------------------------------------------------

//welcome wrapper div with col sub elements
.welcome {
    color: $white;
    padding: 50px 0;
    display: grid;
    grid-template-rows: auto;
    a {
        color: $white;
    }
    p, blockquote {
        margin-bottom: 25px;
    }
    p {
        font-size: em(16px);
        letter-spacing: 0.7px;
        line-height: (1.2 * $base__line);
        span::after {
            font-size: 45px;
            content: " \e9d9\e9d9\e9d9\e9d9\e9d9";
        }  

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    h2 {
        margin-bottom: 35px;
        font-size: em(36px);
    }
    .button {
        padding: 12px 30px;
        font-size: em(20px);
        border-radius: 5px;
        span::after {
            content: "\ea3c";
        }
    }
    .read-more {
        background: darken($color-primary, 5%);
        &:hover {
            background-color: darken($color-primary, 15%);
        }
    }
    .google-rev {
        background: $tufts-blue;
        &:hover {
            background-color: darken($tufts-blue, 10%);
        }
    }
    .trustpilot-rev {
        background: $ufo-green;
        &:hover {
            background-color: darken($ufo-green, 10%);
        }
    }
    &__col {

        div {
            margin-top: 37px; //had to add wrapper div for read more as margin-bottom would not apply without
            a {
                display: inline-block;
                text-align: center;
            }
            @include mq(xx-large) {
                display: inline;
                &:last-child {
                    margin-left: 9px;
                }
            }
        }
        &:first-child {
            div {
                margin-bottom: 62px;
            }
        }
    }
    blockquote {
        & + p {
            font-size: em(17.6px);
            color: #A3A8AC;
            font-weight: 600;
            margin-bottom: 62px;
        }
    }

}

//media query to organise columns
@include mq(x-large) {
    .welcome {
        grid-template-columns: repeat(1fr, 2);
        grid-gap: 30px;
        &__col {
           &:first-child {
            grid-column-start: 1;
            grid-column-end: 2;
            }
            &:last-child {
                grid-column-start: 2;
                grid-column-end: 3;
            } 
        }
    }
}