

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-weight: $font-weight--light;
    font-size: $base__font-size;
    font-family: $font-family--primary;
    line-height: ($base__line/$base__font-size);
    letter-spacing: $letter-space;
}

@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../fonts/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    text-decoration: none;
    font-family: $font-family--primary;
    &:visited {
        text-decoration: none;
    }
}
h1 {
    margin: 0;
    font-size: em(36px);
    font-weight: 600;
}

h2 {
    font-size: em(40px);
    margin: 0;
}

h3 {
    font-size: em(21px);
    margin: 0;
    font-weight: 400;
}

h4 {
    font-weight: $font-weight--medium;
    text-transform: uppercase;
}

p {
    font-size: em(20px);
    margin: 0
}

footer {
    color: $white;
    padding: 47px 0 43px;
    a {
        color: $white;
        &:hover {
            text-decoration: underline;
        }
    }
}

.search {
    font-size: em(14px);
    border-radius: 2px;
    &:focus {
        outline: none;
    }
}

.button {
    text-transform: uppercase;
    border-radius: 3px;
}
blockquote {
    font-size: em(21px);
    font-style: italic;
    margin: 0;
    text-align: left;
}
.head {
    @include flex-row;
    justify-content: space-between;
    color: $color-primary;
    &--item:last-child {
        margin-top: auto;
        margin-bottom: auto;
        color: $color-primary;
        font-size: em(26px);
        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }
    & span::after {
        content: " \ea3c";
    }
}


//lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: $font-size--small;
}

img{
    max-width: 100%;
}





