// --------------------------------------------------------------------------
// checkbox -----------------------------------------------------------------
// --------------------------------------------------------------------------

//hide browsers default checkbox 
input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

//make custom label
.consent-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  

.checkmark {
    border: 3px solid $color-primary;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
}


.consent-box input:checked ~ .checkmark {
    background-color: $color-primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.consent-box input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.consent-box .checkmark:after {
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
