
.contact-form {
    padding-bottom: 50px;
}

#contact-form {
    border-radius: 10px;
    .form {
        padding: 30px;
        input[type=submit] {
            background-color: $purple-majesty;
            &:hover {
                background-color: darken($purple-majesty, 10%);
            }
        }
        &__item:nth-child(7), &__item:nth-child(8) {
            @include flex-row;
        }
        &__item:nth-child(8) {
            p {
                font-size: 13.6px;
                transform: translate(0, 12px);
            }
        }
    }
}

@include mq(x-large) {
    #contact-form .form {
        &__item {
            &:nth-child(3) {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &:nth-child(4) {
                grid-column-start: 2;
                grid-column-end: 3;
            } 
            &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }
}