// --------------------------------------------------------------------------
// sticky header ------------------------------------------------------------
// --------------------------------------------------------------------------
header {
    height: 170px;
    z-index: 1001;
    @include mq(large) {
        height: 117px;
    }
    @include mq(x-large) {
        height: 216px;
    }
    
}
.sticky-header {
    background-color: $white;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
.stuck {
    position: fixed; 
    top: -300px;
    z-index: 100;
    width: 100%;
}
.reveal {
    transform: translate(0, 300px);
}